[submodule "EVEOnlineAPI"]
	path = EVEOnlineAPI
	url = https://github.com/mrdepth/EVEOnlineAPI.git
[submodule "eufe"]
	path = eufe
	url = https://github.com/mrdepth/eufe.git
[submodule "tools"]
	path = tools
	url = https://github.com/mrdepth/tools.git
[submodule "ThirdParty/EVEOnlineAPI"]
	path = ThirdParty/EVEOnlineAPI
	url = https://github.com/mrdepth/EVEOnlineAPI.git
