[submodule "ThirdParty/EVEOnlineAPI"]
	path = ThirdParty/EVEOnlineAPI
	url = https://github.com/mrdepth/EVEOnlineAPI.git
[submodule "ThirdParty/tools"]
	path = ThirdParty/tools
	url = https://github.com/mrdepth/tools.git
[submodule "ThirdParty/eufe"]
	path = ThirdParty/eufe
	url = ../eufe.git
