<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Victim Ship</string>
		<key>valuePropertyKey</key>
		<string>ship.typeID</string>
		<key>titlePropertyKey</key>
		<string>ship.typeName</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Victim Ship Class</string>
		<key>valuePropertyKey</key>
		<string>ship.group.groupID</string>
		<key>titlePropertyKey</key>
		<string>ship.group.groupName</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Victim Name</string>
		<key>valuePropertyKey</key>
		<string>kill.victim.characterID</string>
		<key>titlePropertyKey</key>
		<string>kill.victim.characterName</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Victim Corporation</string>
		<key>valuePropertyKey</key>
		<string>kill.victim.corporationID</string>
		<key>titlePropertyKey</key>
		<string>kill.victim.corporationName</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Victim Alliance</string>
		<key>valuePropertyKey</key>
		<string>kill.victim.allianceID</string>
		<key>titlePropertyKey</key>
		<string>kill.victim.allianceName</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
</array>
</plist>
