<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>To</string>
		<key>valuePropertyKey</key>
		<string>to</string>
		<key>titlePropertyKey</key>
		<string>to</string>
		<key>allValue</key>
		<string>All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>From</string>
		<key>valuePropertyKey</key>
		<string>from</string>
		<key>titlePropertyKey</key>
		<string>from</string>
		<key>allValue</key>
		<string>Anyone</string>
	</dict>
</array>
</plist>
