<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SkillsViewController</string>
		<key>nibName</key>
		<string>SkillsViewController</string>
		<key>title</key>
		<string>Skills</string>
		<key>image</key>
		<string>Icons/icon50_13.png</string>
		<key>charAccessMask</key>
		<integer>17170440</integer>
		<key>corpAccessMask</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>SkillPlannerViewController</string>
		<key>nibName</key>
		<string>SkillPlannerViewController</string>
		<key>title</key>
		<string>Skill Planner</string>
		<key>image</key>
		<string>Icons/icon36_15.png</string>
		<key>charAccessMask</key>
		<integer>17170440</integer>
		<key>corpAccessMask</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>MessagesViewController</string>
		<key>nibName</key>
		<string>MessagesViewController</string>
		<key>title</key>
		<string>EVE Mail</string>
		<key>image</key>
		<string>Icons/icon12_01.png</string>
		<key>charAccessMask</key>
		<integer>3584</integer>
		<key>corpAccessMask</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>AssetsViewController</string>
		<key>nibName</key>
		<string>AssetsViewController</string>
		<key>title</key>
		<string>Assets</string>
		<key>image</key>
		<string>Icons/icon07_13.png</string>
		<key>charAccessMask</key>
		<integer>2</integer>
		<key>corpAccessMask</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>CertificateCategoriesViewController</string>
		<key>nibName</key>
		<string>CertificateCategoriesViewController</string>
		<key>title</key>
		<string>Certification Planner</string>
		<key>image</key>
		<string>Icons/icon79_06.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>ItemsDBViewController</string>
		<key>nibName</key>
		<string>ItemsDBViewController</string>
		<key>title</key>
		<string>Database</string>
		<key>image</key>
		<string>Icons/icon99_08.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>FittingServiceMenuViewController</string>
		<key>nibName</key>
		<string>FittingServiceMenuViewController</string>
		<key>title</key>
		<string>Fitting</string>
		<key>image</key>
		<string>Icons/icon17_04.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>MarketGroupsViewController</string>
		<key>nibName</key>
		<string>MarketGroupsViewController</string>
		<key>title</key>
		<string>Market</string>
		<key>image</key>
		<string>Icons/icon18_01.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>MarketOrdersViewController</string>
		<key>nibName</key>
		<string>MarketOrdersViewController</string>
		<key>title</key>
		<string>Market Orders</string>
		<key>image</key>
		<string>Icons/icon06_03.png</string>
		<key>charAccessMask</key>
		<integer>4096</integer>
		<key>corpAccessMask</key>
		<integer>4096</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>ContractsViewController</string>
		<key>nibName</key>
		<string>ContractsViewController</string>
		<key>title</key>
		<string>Contracts</string>
		<key>image</key>
		<string>Icons/icon64_10.png</string>
		<key>charAccessMask</key>
		<integer>67108864</integer>
		<key>corpAccessMask</key>
		<integer>8388608</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>WalletTransactionsViewController</string>
		<key>nibName</key>
		<string>WalletTransactionsViewController</string>
		<key>title</key>
		<string>Wallet Transactions</string>
		<key>image</key>
		<string>Icons/icon64_15.png</string>
		<key>charAccessMask</key>
		<integer>4194304</integer>
		<key>corpAccessMask</key>
		<integer>2097169</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>WalletJournalViewController</string>
		<key>nibName</key>
		<string>WalletJournalViewController</string>
		<key>title</key>
		<string>Wallet Journal</string>
		<key>image</key>
		<string>Icons/icon07_12.png</string>
		<key>charAccessMask</key>
		<integer>2097152</integer>
		<key>corpAccessMask</key>
		<integer>1048576</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>IndustryJobsViewController</string>
		<key>nibName</key>
		<string>IndustryJobsViewController</string>
		<key>title</key>
		<string>Industry Jobs</string>
		<key>image</key>
		<string>Icons/icon33_02.png</string>
		<key>charAccessMask</key>
		<integer>128</integer>
		<key>corpAccessMask</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>POSesViewController</string>
		<key>nibName</key>
		<string>POSesViewController</string>
		<key>title</key>
		<string>POS&apos;es</string>
		<key>image</key>
		<string>Icons/icon07_06.png</string>
		<key>charAccessMask</key>
		<integer>-1</integer>
		<key>corpAccessMask</key>
		<integer>655360</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>RSSFeedsViewController</string>
		<key>nibName</key>
		<string>RSSFeedsViewController</string>
		<key>title</key>
		<string>News</string>
		<key>image</key>
		<string>rss.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>AboutViewController</string>
		<key>nibName</key>
		<string>AboutViewController</string>
		<key>title</key>
		<string>About</string>
		<key>image</key>
		<string>Icons/icon101_05.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>className</key>
		<string>DonationViewController</string>
		<key>nibName</key>
		<string>DonationViewController</string>
		<key>title</key>
		<string>Donate</string>
		<key>image</key>
		<string>Icons/icon64_09.png</string>
		<key>charAccessMask</key>
		<integer>0</integer>
		<key>corpAccessMask</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
