<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Uniform</string>
		<key>em</key>
		<real>0.25</real>
		<key>thermal</key>
		<real>0.25</real>
		<key>kinetic</key>
		<real>0.25</real>
		<key>explosive</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel Cartel</string>
		<key>em</key>
		<real>0.07000000000000001</real>
		<key>thermal</key>
		<real>0.09</real>
		<key>kinetic</key>
		<real>0.22</real>
		<key>explosive</key>
		<real>0.62</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Blood Raiders</string>
		<key>em</key>
		<real>0.5</real>
		<key>thermal</key>
		<real>0.48</real>
		<key>kinetic</key>
		<real>0.02</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guristas Pirates</string>
		<key>em</key>
		<real>0.02</real>
		<key>thermal</key>
		<real>0.18</real>
		<key>kinetic</key>
		<real>0.79</real>
		<key>explosive</key>
		<real>0.01</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mordu&apos;s Legion</string>
		<key>em</key>
		<real>0</real>
		<key>thermal</key>
		<real>0.3</real>
		<key>kinetic</key>
		<real>0.7</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sansha&apos;s Nation</string>
		<key>em</key>
		<real>0.52</real>
		<key>thermal</key>
		<real>0.48</real>
		<key>kinetic</key>
		<real>0</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Seprentis</string>
		<key>em</key>
		<real>0</real>
		<key>thermal</key>
		<real>0.55</real>
		<key>kinetic</key>
		<real>0.45</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Amarr</string>
		<key>em</key>
		<real>0.47</real>
		<key>thermal</key>
		<real>0.42</real>
		<key>kinetic</key>
		<real>0.07000000000000001</real>
		<key>explosive</key>
		<real>0.04</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Caldari</string>
		<key>em</key>
		<real>0.01</real>
		<key>thermal</key>
		<real>0.48</real>
		<key>kinetic</key>
		<real>0.51</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Gallente</string>
		<key>em</key>
		<real>0.01</real>
		<key>thermal</key>
		<real>0.39</real>
		<key>kinetic</key>
		<real>0.6</real>
		<key>explosive</key>
		<real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Minmatar</string>
		<key>em</key>
		<real>0.12</real>
		<key>thermal</key>
		<real>0.07000000000000001</real>
		<key>kinetic</key>
		<real>0.31</real>
		<key>explosive</key>
		<real>0.5</real>
	</dict>
</array>
</plist>
