<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>segueIdentifier</key>
			<string>NCCharacterSheetViewController</string>
			<key>title</key>
			<string>Character Sheet</string>
			<key>image</key>
			<string>charactersheet.png</string>
			<key>charAccessMask</key>
			<integer>16777224</integer>
			<key>corpAccessMask</key>
			<integer>-1</integer>
			<key>modal</key>
			<true/>
			<key>detailsKeyPath</key>
			<string>skillsDetails</string>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCSkillsViewController</string>
			<key>title</key>
			<string>Skills</string>
			<key>image</key>
			<string>skills.png</string>
			<key>charAccessMask</key>
			<integer>17170440</integer>
			<key>corpAccessMask</key>
			<integer>-1</integer>
			<key>detailsKeyPath</key>
			<string>skillQueueDetails</string>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCMailBoxViewController</string>
			<key>title</key>
			<string>EVE Mail</string>
			<key>image</key>
			<string>evemail.png</string>
			<key>charAccessMask</key>
			<integer>3584</integer>
			<key>corpAccessMask</key>
			<integer>-1</integer>
			<key>detailsKeyPath</key>
			<string>mailsDetails</string>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCCalendarEventsViewController</string>
			<key>title</key>
			<string>Calendar Events</string>
			<key>image</key>
			<string>calendar.png</string>
			<key>charAccessMask</key>
			<integer>1</integer>
			<key>corpAccessMask</key>
			<integer>-1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>segueIdentifier</key>
			<string>NCDatabaseViewController</string>
			<key>title</key>
			<string>Database</string>
			<key>image</key>
			<string>items.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCDatabaseCertificatesViewController</string>
			<key>title</key>
			<string>Certificates</string>
			<key>image</key>
			<string>certificates.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCDatabaseMarketViewController</string>
			<key>title</key>
			<string>Market</string>
			<key>image</key>
			<string>market.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCDatabaseNPCViewController</string>
			<key>title</key>
			<string>NPC</string>
			<key>image</key>
			<string>criminal.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>segueIdentifier</key>
			<string>NCFittingMenuViewController</string>
			<key>title</key>
			<string>Fitting</string>
			<key>image</key>
			<string>fitting.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCKillMailsViewController</string>
			<key>title</key>
			<string>Kill Reports</string>
			<key>image</key>
			<string>killreport.png</string>
			<key>charAccessMask</key>
			<integer>256</integer>
			<key>corpAccessMask</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCZKillBoardViewController</string>
			<key>title</key>
			<string>zKillBoard Reports</string>
			<key>image</key>
			<string>killrights.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>segueIdentifier</key>
			<string>NCAssetsViewController</string>
			<key>title</key>
			<string>Assets</string>
			<key>image</key>
			<string>assets.png</string>
			<key>charAccessMask</key>
			<integer>2</integer>
			<key>corpAccessMask</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCMarketOrdersViewController</string>
			<key>title</key>
			<string>Market Orders</string>
			<key>image</key>
			<string>marketdeliveries.png</string>
			<key>charAccessMask</key>
			<integer>4096</integer>
			<key>corpAccessMask</key>
			<integer>4096</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCContractsViewController</string>
			<key>title</key>
			<string>Contracts</string>
			<key>image</key>
			<string>contacts.png</string>
			<key>charAccessMask</key>
			<integer>67108864</integer>
			<key>corpAccessMask</key>
			<integer>8388608</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCWalletTransactionsViewController</string>
			<key>title</key>
			<string>Wallet Transactions</string>
			<key>image</key>
			<string>wallet.png</string>
			<key>charAccessMask</key>
			<integer>4194304</integer>
			<key>corpAccessMask</key>
			<integer>2097169</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCWalletJournalViewController</string>
			<key>title</key>
			<string>Wallet Journal</string>
			<key>image</key>
			<string>journal.png</string>
			<key>charAccessMask</key>
			<integer>2097152</integer>
			<key>corpAccessMask</key>
			<integer>1048576</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCIndustryJobsViewController</string>
			<key>title</key>
			<string>Industry Jobs</string>
			<key>image</key>
			<string>industry.png</string>
			<key>charAccessMask</key>
			<integer>128</integer>
			<key>corpAccessMask</key>
			<integer>128</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCStarbasesViewController</string>
			<key>title</key>
			<string>POS&apos;es</string>
			<key>image</key>
			<string>station.png</string>
			<key>charAccessMask</key>
			<integer>-1</integer>
			<key>corpAccessMask</key>
			<integer>655360</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>segueIdentifier</key>
			<string>NCRSSViewController</string>
			<key>title</key>
			<string>News</string>
			<key>image</key>
			<string>newspost.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCAboutViewController</string>
			<key>title</key>
			<string>About</string>
			<key>image</key>
			<string>info.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCDonationViewController</string>
			<key>title</key>
			<string>Remove Ads</string>
			<key>image</key>
			<string>votes.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>segueIdentifier</key>
			<string>NCSettingsViewController</string>
			<key>title</key>
			<string>Settings</string>
			<key>image</key>
			<string>settings.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>url</key>
			<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=418895101&amp;pageNumber=0&amp;type=Purple+Software&amp;mt=8</string>
			<key>title</key>
			<string>Rate &amp; Review</string>
			<key>image</key>
			<string>rate.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>url</key>
			<string>https://www.facebook.com/groups/Neocom</string>
			<key>title</key>
			<string>Follow us on Facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>url</key>
			<string>http://vk.com/eveneocom</string>
			<key>title</key>
			<string>Follow us on VK</string>
			<key>image</key>
			<string>vk.png</string>
			<key>charAccessMask</key>
			<integer>0</integer>
			<key>corpAccessMask</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
